In [30]:
#4 = "cuatro" #No se guardar texto en numeros ni se pueden usar variables como if, double, int, etc
B = 2,4,7 # inmutable (NO CAMBIA)
D = ["Juan", "Carlos"] # Es modificable
#fabian = (SP:7)
print(4)
type(4)

4

int

In [29]:
print ("la variable:", type(543))
print ("la variable:", type(16.84))
print ("la variable:", type("holaa"))
print ("la variable:", type(True))

la variable: <class 'int'>
la variable: <class 'float'>
la variable: <class 'str'>
la variable: <class 'bool'>

VARIABLE QUE ALMACENAN MULTIPLES DATOS

In [32]:
#CREACION DE UNA TUPLA 
No_Modificable = (1,2,3,4)
#mostrar el tipo  de la variable
print ("La variable es tipo: ", type(No_Modificable))

La variable es tipo:  <class 'tuple'>

In [33]:
# CREACION DE UNA LISTA
Compras_modficables = ["leche", "huevos", "Pan", "gaseosa"]
#mostrar tipo de variable
print ("La variable es de tipo: ", type(Compras_modficables))

La variable es de tipo:  <class 'list'>

In [ ]:
#CREACION DE UN DICCIONARIO
diccionario

IMPORTAR LIBRERIA DE PANDAS

In [3]:
import pandas as pd
datos = {
    "nombre" : ['juan', 'maria', 'luis'],
    "edades" : [20, 40,78],
    "Ciudad" : ["Madrid", "Barcelona", "Valencia"]
}
# CREAR UN DATA FRAME
tabla = pd.DataFrame(datos)
#MOSTRAR EL TIPO DE VARIABLE
print ("La variable es de tipo: ", type(tabla))
#MOSTRAR TABLA
print(tabla)

La variable es de tipo:  <class 'pandas.core.frame.DataFrame'>
  nombre  edades     Ciudad
0   juan      20     Madrid
1  maria      40  Barcelona
2   luis      78   Valencia